@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

.todoBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  & > .boardWrapper {
    display: flex;
    justify-content: space-between;
    & > .taskInpt {
      margin-right: 30px;
      width: 400px;
    }
  }
  & > .taskDescription {
    margin-top: 20px;
  }
  & > span {
    width: 44px;
  }
  & > .todoFilter {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
  }

  & > .descriptionInput {
    width: 100%;
    margin-top: 20px;
  }
  & > .todoCounter {
    border-top: 2px solid rgb(54, 54, 54);
    transition: 1s all ease;
    font-family: 'Abel', sans-serif;
    margin-top: 50px;
    & > p {
      font-size: 30px;
      transition: 1s all ease;
    }
  }
}

.dark-mode-todoCounter {
  transition: 1s all ease;
  border-top: 2px solid black;
  font-family: 'Abel', sans-serif;
    margin-top: 50px;
    & > p {
      color: #d6d7ef;
      font-size: 30px;
      transition: 1s all ease;
    }
}
