@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

body {
  margin: 0;
  padding: 0;
}

.todoContainer {
  width: 100%;
  height: 1000px;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  transition: 1s all ease;
  // TODO-HEADER
  & > .todoHeader {
    width: 600px;
    height: 100px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    border-bottom: 2px solid black;
    & > h1 {
      transition: 1s all ease;
    }
  }
  & > .todoBoard > :nth-child(2) {
    margin-top: 30px;
  }
}

#dark-mode {
  transition: 1s all ease;
  background-color: #666666;
}

#dark-mode h1 {
  transition: 1s all ease-in-out;
  color:#d6d7ef;
}
