.auth {
  margin-top: 220px;
}

.signUpForm {
  display: flex;
  align-content: center;
  width: 500px;
  margin: 0 auto;
  flex-direction: column;
}
.formItem:not(:last-child){
  margin-bottom: 15px;
}
